.Menu {
    height: 70px;
    width: 100%;
    background-color: #0077B6;
    margin-bottom: 25px;
}

.Menu nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}